
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Response</title>
</head>
<body>

    <h3> @ViewBag.atomTxnId </h3>
    <h3> @ViewBag.bankTxnId </h3>
    <h3> @ViewBag.statusCode </h3>
    <h3> @ViewBag.message </h3>

</body>
</html>
