.btn-posnawr {
	color: #FAA22A;
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: auto;
	border-radius: 8px;
	margin: 1rem auto;
	padding: 10px;
	font-family: 'proxima-nova', sans-serif;
	text-align: center;
	text-decoration: none;
	border: 2px solid #FAA22A;
}

	.btn-posnawr span {
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-radius: 50%;
		background-color: #FAA22A;
		-webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
		transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		z-index: -1;
	}

	.btn-posnawr:hover {
		
		color: #FFF;
	}

		.btn-posnawr:hover span {
			width: 225%;
			height: 562.5px;
		}

	.btn-posnawr:active {
		background-color: #FAA22A;
	}




.btn-posnawr1 {
	color: #FAA22A;
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: auto;
	border-radius: 8px;
	margin: 1rem auto;
	padding: 8px;
	font-family: 'proxima-nova', sans-serif;
	text-align: center;
	text-decoration: none;
	border: 2px solid #FAA22A;
}
	.btn-posnawr1:hover {
		color:#fff;
		background-color: #FAA22A;
		-webkit-transition: width 0.8s ease-in-out, height 0.8s ease-in-out;
		transition: width 0.8s ease-in-out, height 0.8s ease-in-out;

	}

.btn-posnawr2 {
	color: #fff;
	background-color: #FAA22A;
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: auto;
	border-radius: 8px;
	margin: 1rem auto;
	padding: 10px;
	font-family: 'proxima-nova', sans-serif;
	text-align: center;
	text-decoration: none;
	border: 2px solid #FAA22A;
}

	.btn-posnawr2:hover {
		color: #FAA22A;
		background-color: #FFF;
		
		-webkit-transition: width 0.8s ease-in-out, height 0.8s ease-in-out;
		transition: width 0.8s ease-in-out, height 0.8s ease-in-out;
	}