/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap'); */


.containerteam{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
  }
  .containerteam .cardteam
  {
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 202px #fff;
    transition: 0.3s ease-in-out;
  }
  .containerteam .cardteam:hover
  {
    height: 420px;
  }
  .containerteam .cardteam .imgBx{
    position: relative;
  width: 230px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  }
  .containerteam .cardteam .imgBx img
  {
    max-width: 100%;
    border-radius: 4px;
  }
  .containerteam .cardteam .contentteam
  {
    position: relative;
    margin-top: -140px;
    padding: 5px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  
  .containerteam .cardteam:hover .contentteam{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
  }