@model IEnumerable<AsianPublisher.Models.SemesterCategory>

@{
    ViewData["Title"] = "Index";
    string myurl = Context.Request.Path + Context.Request.HttpContext.Request.QueryString;
}
<div class="col-lg-7" style="float:left;">
    <h4>Semester Category List</h4>
</div>
<div class="col-lg-5" style="float:left;">
    <a href="~/SemesterCategory/Create?url=@myurl" class="btn-sm btn-success">Create New</a>
    <a href="/SemesterCategory/GenerateExcel" class="btn-sm btn-primary">Excel</a>
    <a href="/SemesterCategory/GeneratePdf" class="btn-sm btn-secondary">PDF</a>
</div>
<br />
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.name
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id, url = myurl }, new { @class = "btn-sm btn-success" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.id, url = myurl }, new { @class = "btn-sm btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>